@use '../../../assets/scss/index' as *;

.footer {
  background: $grey-2;
  height: 70px;
  margin-top: auto;
  text-align: center;

  &__title {
    @include center-align(relative);

    display: block;
    line-height: 24px;
  }
}
