<header class="header">
  <div class="header__container container">
    <div class="header__top">
      <a href="/search" class="header__brand brand">
      <strong>netflix</strong>roulette
      </a>
      <button
        class="btn--transparent btn"
        type="button"
      >
        + Add movie
      </button>
    </div>
    <h1 class="header__title">FIND YOUR MOVIE</h1>
    <form class="header__search" (ngSubmit)="handleFormSubmit($event)">
      <input
        class="header__search__input"
        type="text"
        placeholder="What do you want to watch?"
        [(ngModel)]="searchQuery"
        name="search"
      />
      <button class="btn--primary btn" type="submit">
        search
      </button>
    </form>
  </div>
</header>
