@use '../../../assets/scss/index' as *;

.header {
  &__brand {
    color: $red-1;
    display: inline-block;
  }

  &__top,
  &__search {
    position: relative;
    z-index: 100;
  }

  &__top {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding: 20px 60px;
  }

  &__title {
    color: $white;
    font-size: 40px;
    font-weight: 300;
    line-height: 49px;
    padding: 38px 120px;
  }

  &__search {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 20px 120px;
    width: 100%;

    &__input {
      background-color: rgb(50 50 50 / 0.8);
      border: rgb(50 50 50 / 0.8);
      border-radius: 4px;
      color: $white;
      display: flex;
      flex: 1 1 auto;
      line-height: 57px;
      mix-blend-mode: normal;
      opacity: 0.7;
      padding: 0 19px;
      margin-right: 14px;
    }

    .btn {
      width: 233px;
    }
  }

  @include media-size(lg-down) {
    &__search {
      .btn {
        width: auto;
      }
    }
  }

  @include media-size(md-down) {
    &__top {
      padding: 1rem;

      .btn {
        font-size: 15px;
      }
    }

    &__title {
      font-size: 30px;
      padding: 1rem;
    }

    &__search {
      padding: 1rem;

      &__input {
        line-height: 42px;
        margin: 0 0 5px 0;
        width: 100%;
      }

      .btn {
        width: 100%;
      }
    }
  }
}
