<section class="list__container container">
  <ng-container *ngIf="error; else movieList">
    <div>
      {{ error }}
    </div>
  </ng-container>

  <ng-template #movieList>
    <ng-container *ngIf="moviesData$ | async as moviesData">
      <div *ngIf="moviesData.amount" class="list__number">
        <h2>
          <strong>{{ moviesData.amount }}</strong> movies found
        </h2>
      </div>

      <div class="list__items" *ngIf="moviesData.movies.length; else noMovies">
        <ng-container *ngFor="let movie of moviesData.movies">
          <app-movie-card
            [movieId]="movie.id"
            [movieTitle]="movie.title"
            [moviePosterPath]="movie.poster_path"
            [movieGenres]="movie.genres"
            [movieReleaseYear]="movie.release_date.substring(0, 4)"
          ></app-movie-card>
        </ng-container>
      </div>
    </ng-container>
  </ng-template>

  <ng-template #noMovies>
    <div>
      No movies to display.
    </div>
  </ng-template>
</section>
