/* You can add global styles to this file, and also import other style files */
@use './assets/scss' as *;
@import 'scss-reset/reset';

html,
body {
  height: 100%;
}

body {
  background: $grey-3;
}

section,
header,
main,
h1,
h2,
p,
nav,
div,
img {
  @include transition(all 1s ease-in-out, left 1.5s ease-in-out);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: calc(100% - 1rem);
}

.btn {
  border-radius: 4px;
  padding: 11px 18px;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;

  &--transparent {
    @include btn-variant(
        rgba(96, 96, 96, 0.68),
        $red-1,
        rgba(96, 96, 96, 0.68)
    );
  }

  &--primary {
    @include btn-variant($red-1, $white, $red-1);
  }

  &--outline {
    @include btn-variant(transparent, $red-1, $red-1);
  }
}

.brand {
  color: $red-1;
  font-size: 20px;
  text-decoration: none;

  strong {
    font-weight: 900;
  }
}

.header {
  background: $black;
  border-bottom: 10px solid $grey-1;
  min-height: 396px;
  position: relative;
  z-index: 100;

  &:before {
    background-image: url('./assets/img/wp1945898-movie-posters-wallpapers.jpg');
    background-blend-mode: darken;
    background-position: 50% 0;
    background-size: cover;
    filter: blur(4.0774px);
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    mix-blend-mode: normal;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 90;
  }
}
